@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.active {
  background-color: #ff4d4d; /* Example highlight color */
  transform: scale(1.1); /* Slightly enlarge the active button */
}



@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



/* Red screen */
/* .red-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: darkred;
  z-index: 32;
  display: none;
} */

/* .red-screen.show {
  display: block;
} */

/* Fade-in effect */
.fade-in {
  animation: fadeIn 1s ease-in-out;
}

/* Add this to your global CSS file or a specific CSS file */
.relative .origin-top-left {
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(-10px);
}

.relative:hover .origin-top-left {
  opacity: 1;
  transform: translateY(0);
}

/* Add this to your global CSS file or a specific CSS file */
:root {
  --primary: #EF4444; /* Firebrick Red */
  --primary-dark: #8B0000; /* Dark Red */
  --secondary: #545353; /* Crimson */
  --background: #FFE4E1; /* Misty Rose */
  --white: #FFFFFF;
}

body {
  background-color: var(--background);
  color: var(--secondary);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.bg-white {
  background-color: var(--white);
}

.border-primary {
  border-color: var(--primary);
}

.focus\:ring-primary:focus {
  --tw-ring-color: var(--primary);
}